body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blueviolet;
}

a {
  color: #ff0000;
}

@media only screen and (max-width: 600px) {
	#posts {
		margin:  5px;
		width: 20rem;
	}
} 